<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>KWK Advice Template</title>
</head>

<body>
  <h1><%= @quiz.title %></h1>
  <h2><%= @answer.text %></h2>

  <p><a href="/">Want more advice?</a></p>
</body>

</html>